* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: sans-serif;

    border-top: 10px solid #1098ad;
    position: relative;
}

/* h1, h2, h3, h4, p, li {
    font-family: sans-serif;
    color: #444;
} */

.container {
    width: 1200px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}

.main-header {
    background-color: #f7f7f7;
    /* padding: 20px; */
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    padding: 20px 40px;
    margin-bottom: 60px;
    /* height: 80px; */
}

nav {
    font-size: 18px;
}

nav a:link {
    margin-right: 20px;
    display: inline-block;
}

nav a:link:last-child {
    margin-right: 0;
}

article {
    margin-bottom: 60px;
}

.post-header {
    margin-bottom: 40px;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
}


h1, h2, h3 {
    color: #1098ad;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
}

h3 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 50px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

#author {
    font-size: 18px;
    font-style: italic;
}


/* footer p {
    font-size: 16px;
} */


.post-image {
    width: 100%;
    height: auto;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
    margin: 0;
}

a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}

#copyright {
    font-size: 16px;
    color: red;
}

.copyright {
    color: blue;
}

.text {
    color: yellow;
}

footer p {
    color: green;
}

.like-feedback {
    font-size: 22px;
    padding: 20px;
    cursor: pointer;

    border: none;
    background-color: #aaa;

    position: absolute;
    bottom: 50px;
    right: 50px;
}

h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}

h3 + p::first-line {
    /* color: red; */
}

h2::after {
    content: "TOP";
    background-color: #ffe70e;
    font-size: 16px;
    font-weight: bold;
    color: black;

    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: -25px;
}

.main-header {
    display: grid;

    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.nav {
    justify-self: right;
    align-content: center;
}

article {
    margin: 0;
}

aside {
    padding: 40px 30px;
}

.article-and-aside {
    display: grid;

    grid-template-columns: auto 300px;
    gap: 60px;

    align-items: start;
}

/* .related {
    margin: 30px 0;
} */

.related-post {
    display: grid;

    grid-template-columns: 1fr 3fr;
    gap: 10px;

    align-content: center;
    align-items: center;
}

.related-author {
    margin: 0;

    font-weight: normal;
    font-size: 14px;
    font-style: italic;
}

.related-title {
    font-size: 18px;
    font-weight: bold;
}